<!DOCTYPE html>
<html>
<head>
  <title>Photobooth</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <%= javascript_tag do -%>
    (function(root) {
        var PhotoBooth = root.PhotoBooth;

        if (!PhotoBooth) {
            console.warn("PhotoBooth settings not set!");
            return;
        }

        PhotoBooth.module("Settings", function(Settings) {
            Settings.countdownSeconds = <%= ENV["PHOTOBOOTH_COUNTDOWN_SECONDS"] %>
        });
    })(window);
  <% end -%>
</body>
</html>
